@page{
	size: auto;   /* auto is the current printer page size */
	margin: 0mm;  /* this affects the margin in the printer settings */
	margin-top:5mm;
}



@media print{
	
	.itemContainer{page-break-inside: avoid;}
}
